apiVersion: v2
description: The Cloud-Native Ingress and API-management
home: https://github.com/giantswarm/kong-app
icon: https://s.giantswarm.io/app-icons/kong/1/light.svg
maintainers:
  - name: team-k8s-bot
    email: team-k8s@konghq.com
name: kong-app
sources:
  - https://github.com/giantswarm/kong-app
  - https://github.com/Kong/charts/tree/main/charts/kong
version: 5.2.0
appVersion: "3.8.0"
annotations:
  io.giantswarm.application.team: cabbage
  io.giantswarm.application.audience: "all"
  io.giantswarm.application.managed: "false"
kubeVersion: ">=1.26.0-0"
dependencies:
  - name: postgresql
    version: 11.9.13
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: kubectl-apply-job
    version: "0.11.0"
    repository: oci://giantswarmpublic.azurecr.io/giantswarm-playground-catalog
    condition: ingressController.enabled
